<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="authMapper">
    
    <resultMap id="memberResultSet" type="member">
        <id property="userNo" column="USER_NO"/> 
        
        <result property="userId" column="USER_ID"/>
        <result property="userPwd" column="USER_PWD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="birthDate" column="BIRTH_DATE"/>
        <result property="gender" column="GENDER"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="originProfile" column="ORIGIN_PROFILE"/>
        <result property="modifyProfile" column="MODIFY_PROFILE"/>
        <result property="postcode" column="POSTCODE"/>
        <result property="mainAddress" column="MAIN_ADDRESS"/>
        <result property="detailAddress" column="DETAIL_ADDRESS"/>
        <result property="enrollDate" column="ENROLL_DATE"/>
        <result property="userYn" column="USER_YN"/>
        <result property="userRole" column="USER_ROLE"/>
        </resultMap>
    
    <select id="selectMemberForLogin" parameterType="string" resultMap="memberResultSet">
        SELECT USER_NO, USER_ID, USER_PWD, USER_NAME, USER_ROLE, NICKNAME 
        FROM TB_USER
        WHERE 
            USER_ID = #{userId}
            AND USER_YN = 'N' 
    </select>
    
    <insert id="insertMember" parameterType="member">
        INSERT INTO TB_USER (
            USER_NO,
            USER_ID,
            USER_PWD,
            USER_NAME,
            NICKNAME,
            BIRTH_DATE,
            GENDER,
            EMAIL,
            PHONE,
            ORIGIN_PROFILE,
            MODIFY_PROFILE,
            POSTCODE,
            MAIN_ADDRESS,
            DETAIL_ADDRESS,
            ENROLL_DATE,  USER_YN,      USER_ROLE
        ) VALUES (
            SEQ_TB_USER_NO.NEXTVAL,  #{userId},
            #{userPwd},
            #{userName},
            #{nickname},
            #{birthDate},
            #{gender},
            #{email},
            #{phone},
            #{originProfile},
            #{modifyProfile},
            #{postcode},
            #{mainAddress},
            #{detailAddress},
            SYSDATE,           'N',               #{userRole}
        )
    </insert>
    
    <select id="idCheck" parameterType="string" resultType="_int">
    	SELECT COUNT(*)
    	  FROM TB_USER
    	 WHERE USER_ID = #{userId}
    	 AND USER_YN = 'N' 
    </select>
    
    <select id="nicknameCheck" parameterType="string" resultType="_int">
    	SELECT COUNT(*)
    	  FROM TB_USER
    	 WHERE NICKNAME = #{nickname}
    </select>
    
    <select id="emailCheck" parameterType="member" resultType="_int">
    	SELECT COUNT(*)
    	  FROM TB_USER
    	 WHERE USER_NAME = #{userName}
    	   AND EMAIL = #{email}
    	   AND USER_YN = 'N'
    </select>
    
    <select id="findId" parameterType="string" resultType="string">
    	SELECT USER_ID
    	  FROM TB_USER
    	 WHERE EMAIL = #{email}
    	   AND USER_YN = 'N'
    </select>
    
    <select id="idEmailCheck" parameterType="member" resultType="_int">
    	SELECT COUNT(*)
    	  FROM TB_USER
    	 WHERE USER_ID = #{userId}
    	   AND EMAIL = #{email}
    	   AND USER_YN = 'N'
    </select>
    
    <update id="updatePassword" parameterType="member">
    	UPDATE TB_USER
    	   SET USER_PWD = #{userPwd}
    	 WHERE USER_ID = #{userId}
    	   AND USER_YN = 'N'
    </update>
    
    <select id="loginMember" parameterType="string" resultMap="memberResultSet">
        SELECT 
            USER_NO,
            USER_ID,
            USER_PWD,
            USER_NAME,
            NICKNAME,
            EMAIL,
            PHONE,
            USER_ROLE,
            USER_YN
        FROM TB_USER
        WHERE USER_ID = #{userId}
          AND USER_YN = 'N' 
	</select>
    
	<insert id="insertAuthCode" parameterType="map">
        MERGE INTO AUTH
        USING DUAL
        ON (EMAIL = #{email})
        WHEN MATCHED THEN
            UPDATE SET 
                AUTH_CODE = #{code},
                AUTH_DATE = SYSDATE
        WHEN NOT MATCHED THEN
            INSERT (EMAIL, AUTH_CODE, AUTH_DATE)
            VALUES (#{email}, #{code}, SYSDATE)
    </insert>

    <select id="selectAuthCode" parameterType="string" resultType="string">
	    SELECT AUTH_CODE
	    FROM AUTH
	    WHERE EMAIL = #{email}
	    <![CDATA[
	      AND (SYSDATE - AUTH_DATE) * 24 * 60 * 60 <= 180
	    ]]>
	</select>

    <delete id="deleteAuthCode" parameterType="string">
        DELETE FROM AUTH
        WHERE EMAIL = #{email}
    </delete>    
</mapper>