<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.foodding.mypage.model.dao.MyPageDao">

    <select id="selectMemberById" resultType="com.kh.foodding.mypage.model.vo.MyPage">
        SELECT 
            USER_ID as userId,
            USER_NAME as userName,      
            NICKNAME as nickname,
            EMAIL as email,
            PHONE as phone,
            MODIFY_PROFILE as profileImageUrl,
            POSTCODE as postcode,
            MAIN_ADDRESS as mainAddress,
            DETAIL_ADDRESS as detailAddress
        FROM TB_USER
        WHERE USER_ID = #{userId}
    </select>
    
    <select id="selectHashedPassword" resultType="string">
        SELECT USER_PWD 
        FROM TB_USER
        WHERE USER_ID = #{userId}
    </select>

	<update id="updateMemberInfo" parameterType="com.kh.foodding.mypage.model.vo.MyPage">
	    UPDATE TB_USER
	    SET 
	        USER_NAME = #{userName},  NICKNAME = #{nickname},
	        POSTCODE = #{postcode},
	        MAIN_ADDRESS = #{mainAddress},
	        DETAIL_ADDRESS = #{detailAddress}
	    WHERE USER_ID = #{userId}
	</update>

    <update id="updatePassword">
        UPDATE TB_USER
        SET USER_PWD = #{newPassword}
        WHERE USER_ID = #{userId}
    </update>

    <update id="updateProfileImage">
        UPDATE TB_USER
        SET MODIFY_PROFILE = #{profileImageUrl}
        WHERE USER_ID = #{userId}
    </update>
    
    <update id="updateEmail">
        UPDATE TB_USER
        SET EMAIL = #{newEmail}
        WHERE USER_ID = #{userId}
    </update>
    
    <update id="updatePhone">
        UPDATE TB_USER
        SET PHONE = #{newPhone}
        WHERE USER_ID = #{userId}
    </update>

    <delete id="deleteMember">
        DELETE FROM TB_USER 
        WHERE USER_ID = #{userId}
    </delete>
    
</mapper>