<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "projectMapper">



            <!-- 프로젝트 제출 (심의받기) -->
            <insert id="insertProject" parameterType="project">
                    INSERT INTO PRODUCT (
                        PRODUCT_NO,
                        PRODUCT_TITLE,
                        PRODUCT_DESC,
                        TARGET_AMOUNT,
                        CURRENT_AMOUNT,
                        FUND_START_DATE,
                        FUND_END_DATE,
                        CATEGORY,
                        ORIGIN_THUMBNAIL,
                        SELLER_NO
                    ) VALUES (
                        SEQ_PRODUCT_NO.NEXTVAL,
                        #{title},
                        #{summary},
                        #{targetAmount},
                        NVL(#{currentAmount}, 0),
                        #{fundStartDate},
                        #{fundEndDate},
                        #{category},
                        NVL(#{thumbnailUrl}, 'DEFAULT_THUMBNAIL.png'),
                        (
                            SELECT SELLER_NO
                            FROM SELLER_PROFILE
                            WHERE USER_NO = #{userNo}
                        )
                    )
            </insert>


            <!-- 임시저장 -->
            <insert id = "imsiProject" parameterType="project">
                INSERT INTO TEMPORARY (
                    TEMP_NO,
                    TEMP_TITLE,
                    TEMP_DESC,
                    TARGET_AMOUNT,
                    FUND_START_DATE,
                    FUND_END_DATE,
                    CATEGORY,
                    ORIGIN_THUMBNAIL,
                    SHIP_START_DATE,
                    SELLER_NO
                )
                VALUES (
                    SEQ_TEMP_NO.NEXTVAL,
                    #{title},
                    #{summary},
                    #{targetAmount},
                    #{fundStartDate},
                    #{fundEndDate},
                    #{category},
                    NVL(#{thumbnailUrl}, 'DEFAULT_THUMBNAIL.png'),
                    #{shipStartDate},
                    (
                        SELECT SELLER_NO
                        FROM SELLER_PROFILE
                        WHERE USER_NO = #{userNo}
                    )
                )
            </insert>

           <select id="selectProject" parameterType="map" resultType="project">
                    SELECT
                        TEMP_NO      AS tempNo,
                        TEMP_TITLE   AS title,
                        TEMP_DESC    AS summary,
                        TARGET_AMOUNT,
                        FUND_START_DATE,
                        FUND_END_DATE,
                        CATEGORY,
                        ORIGIN_THUMBNAIL AS thumbnailUrl,
                        SHIP_START_DATE
                    FROM TEMPORARY
                    WHERE TEMP_STATUS = 'Y' 
                        AND SELLER_NO = (
                        SELECT SELLER_NO FROM SELLER_PROFILE WHERE USER_NO = #{userNo}
                    )
                    ORDER BY TEMP_NO DESC
           </select>

           <select id="selectProjectById" parameterType="map" resultType="project">
                SELECT
                    TEMP_NO      AS tempNo,
                    TEMP_TITLE   AS title,
                    TEMP_DESC    AS summary,
                    TARGET_AMOUNT,
                    FUND_START_DATE,
                    FUND_END_DATE,
                    CATEGORY,
                    ORIGIN_THUMBNAIL AS thumbnailUrl,
                    SHIP_START_DATE
                FROM TEMPORARY
                WHERE TEMP_NO = #{tempNo}
                    AND SELLER_NO = (
                    SELECT SELLER_NO FROM SELLER_PROFILE WHERE USER_NO = #{userNo}
                    )
            </select>

           <update id="updateDraft" parameterType="project">
                    UPDATE TEMPORARY
                        SET TEMP_TITLE = #{title},
                            TEMP_DESC = #{summary},
                            TARGET_AMOUNT = #{targetAmount},
                            FUND_START_DATE = #{fundStartDate},
                            FUND_END_DATE = #{fundEndDate},
                            CATEGORY = #{category},
                            ORIGIN_THUMBNAIL = NVL(#{thumbnailUrl}, 'DEFAULT_THUMBNAIL.png'),
                            SHIP_START_DATE = #{shipStartDate},
                            UPDATE_DATE = SYSDATE
                    WHERE TEMP_NO = #{tempNo}
                        AND SELLER_NO = (
                            SELECT SELLER_NO FROM SELLER_PROFILE WHERE USER_NO = #{userNo}
                        )
            </update>

            
            <update id="deleteProject" parameterType="map">
                UPDATE TEMPORARY
                    SET TEMP_STATUS = 'N',
                        UPDATE_DATE = SYSDATE
                    WHERE TEMP_NO = #{tempNo}
                    AND SELLER_NO = (
                        SELECT SELLER_NO FROM SELLER_PROFILE WHERE USER_NO = #{userNo}
                    )
            </update>
</mapper>
